
body {
    background-color: #61c354;
}

#content {
    margin: auto;
    max-width: 500px;
    font-family: 'Comic Neue', cursive;
}

#title {
    font-size: 76px;
    margin: 0px
}

p {
    font-size: larger;
}

img {
    max-width: 100%;
}

#logo {
    border-radius: 100%;
    max-width: 150px;
    text-align: center;
    margin: auto;
    display: block;
}
