body {
    background-color: #f5e9d3;
    margin: 28px;
}

h1 {
    color: #4a1a19;
    margin: 0px;
    font-size: 30px;
    float: left;
}

.logo {
    width: 36px;
    display: block;
    margin-left: auto;
}

h2 {
    color: #4a1a19;
    font-size: 20px;
    margin: 0px;
}

h3 {
    color: #4a1a19;
    font-size: 10px;
    margin: 6px 0px;
    text-align: center;
}

h4 {
    color: #4a1a19;
    font-size: 65px;
    margin: 0px;
    text-align: center;
}

section {
    margin: 1em auto 1em auto;
    max-width: 315px;
    font-family: 'Comic Neue';
}

table {
    text-align: left;
    font-size: 11px;
    margin: 12px 0px 12px 0px;
    width: 100%;
}

td {
    white-space: nowrap;
}

.error {
    color: red;
}

input, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 32px;
    border: none;
    padding: 0px;
    border-radius: 6px;
    margin-bottom: 12px;
    text-align: center;
    text-align-last: center;
    font-family: 'Comic Neue';
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 12px;
    margin: 12px 0px 0px 0px;
}

.grid-item {
    width: 100%;
    text-decoration: none;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
    aspect-ratio: 1;
    object-fit: cover;
}

img {
    max-width: 100%;
    border-radius: 12px;
}

label {
    text-align: left;
}

.grid-item div {
    min-height: 28px;
    background-color: #F9DBAE;
    width: 100%;
    border: none;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 900;
    color: #4a1a19;
    text-decoration: none;
    padding: 12px 0px 12px 0px;
}

button {
    height: 50px;
    background-color: #deac54;
    width: 100%;
    border: none;
    border-radius: 12px;
    font-weight: 900;
    color: #4a1a19;
    font-family: 'Comic Neue';
    font-size: 18px;
    padding: 12px 0px 12px 0px;
}

.card {
    background-color: #F9DBAE;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
}

p {
    margin: 10px 0px 0px 0px;
    font-size: 14px;
}

a {
    color: #4a1a19
}

/* Credit Card */

.credit-card {
    width:100%;
    height: 190px;
    border-radius: 10px;
    background-color: #deac54;
    background-image:url(bear1.png);
    background-position: left;
    background-size: 200px;
    background-repeat: no-repeat;
    margin: 0px auto 0px auto
}

.card-title {
    margin: 0px 24px 0px 0px;
    padding-top: 12px;
    font-size: 60px;
    font-weight: 900;
    text-align: right;
    color: #F8EEDF;
}

.card-award-icon {
    padding: 15px 0px 0px 220px;
    width: 70px;
    /* position: absolute; */
}
.card-award-text {
    padding: 0px 0px 0px 196px;
    position: absolute;
    font-size: 15px;
    font-weight: 900;
    color: #F8EEDF;
    text-align: center;
    width: 119px;
    margin-top: 0px;
}

.card-text {
    margin: 30px 0px 0px 18px;
    font-size: 24px;
    font-weight: 900;
    color: #F8EEDF;
    word-spacing: 12px;
    position: absolute;
}

.card-subtext {
    margin: 65px 18px 0px 18px;
    font-size: 15px;
    font-weight: 900;
    color: #F8EEDF;
}

.spanleft {
    float: left;
    margin-right: 0px;
}

.spanright {
    float: right;
    margin-left: 0px;
}

.bear {
    background-position: center;
    background-size: 315px;
    background-repeat: no-repeat;
    min-height: 380px;
    background-position-y: bottom
}

.bear1 {
    background-image:url(bear1.png);
}
.bear2 {
    background-image:url(bear2.png);
}
.bear3 {
    background-image:url(bear3.png);
}
.bear4 {
    background-image:url(bear4.png);
}
.bear5 {
    background-image:url(bear5.png);
}
.bear6 {
    background-image:url(bear6.png);
}
.bear7 {
    background-image:url(bear7.png);
}
.bear8 {
    background-image:url(bear8.png);
}
.bear9 {
    background-image:url(bear9.png);
}
.bear10 {
    background-image:url(bear10.png);
}
