<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Fishing</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Lute Bear Coin">
    <link rel="apple-touch-icon" href="/static/logo.png">
    <meta name="theme-color" content="#4a1a19">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="format-detection" content="telephone=no">
</head>
<body>

    <section>
        <a href="/">
            <h1>Lute Bear Coin</h1>
        </a>
        <a href="/wallet">
            <img class="logo" src="/static/logo.png">
        </a>
    </section>

    <section>
        <div class="card">
            <h2>Choose a fishing location!</h2>
            <p>Bears love eating fish! The bears will buy<br>any fish you catch for Lute Bear Coin!</p>
            <p>To maintain a sustainable fish population <br>anglers may only catch <b>one fish per day</b>.</p>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
        </div>
    </section>

    <section>
        <div class="card bear location_tributary_river">
            <h2>Tributary River</h2>
            <p>The <b>Tributary River</b> is a cold & swift freshwater river that's home to several species of salmon!</p>
            <a href="/fishing/tributary_river">
                <button class="card-button">Tributary River</button>
            </a>
        </div>
    </section>

    <section>
        <div class="card bear location_open_ocean">
            <h2>Open Ocean</h2>
            <p>The <b>Open Ocean</b> is a rough saltwater marine environment with many species of game fish!</p>
            <!-- <a href="/fishing/open_ocean">
                <button class="card-button">Open Ocean</button>
            </a> -->
            <button class="card-button">Coming Soon!</button>
        </div>
    </section>

    <section>
        <div class="card bear location_estuary">
            <h2>Estuary</h2>
            <p>The <b>Estuary</b> is a coastal brakish environment that's home to many diverse species of fish!</p>
            <!-- <a href="/fishing/estuary">
                <button class="card-button">Estuary</button>
            </a> -->
            <button class="card-button">Coming Soon!</button>
        </div>
    </section>

    <section>
        <div class="card bear location_coral_reef">
            <h2>Coral Reef</h2>
            <p>The <b>Coral Reef</b> is a vibrant warmwater marine ecosystem with many colorful and unique fish!</p>
            <!-- <a href="/fishing/coral_reef">
                <button class="card-button">Coral Reef</button>
            </a> -->
            <button class="card-button">Coming Soon!</button>
        </div>
    </section>

    <section>
        <div class="grid-container">
            <a href="/wallet" class="grid-item">
                <button>Back to Wallet</button>
            </a>
        </div>
    </section>
</body>
