<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Lute Bear Coin">
    <link rel="apple-touch-icon" href="/static/logo.png">
    <meta name="theme-color" content="#4a1a19">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta name="format-detection" content="telephone=no">
</head>

<body>
    <section>
        <a href="/">
            <h1>Lute Bear Coin</h1>
        </a>
        <a href="/wallet">
            <img class="logo" src="/static/logo.png">
        </a>
    </section>
    <section>
        <div class="card">
            {% if user is none %}
                <h2>Welcome!</h2>
                <p>Click here to login!</p>
                <br>
                <a href="/login">
                    <button >Login</button>
                </a>
            {% else %}
                <h2>Welcome, {{user.nickname}}!</h2>
                <p>Click here to access your <b>wallet!</b></p>
                <br>
                <a href="/wallet">
                    <button >Wallet</button>
                </a>
            {% endif %}
        </div>
    </section>
    <section>
        <div class="card bear bear15">
            <h2>Fishing</h2>
            <p>Join your fellow anglers as they go <b>fishing</b><br>and sell their catch for Lute Bear Coin!</p>
            <a href="/fishing">
                <button class="card-button">Fishing</button>
            </a>
        </div>
    </section>
    <section>
        <div class="card bear bear17">
            <h2>Market</h2>
            <p>The <b>market</b> is a fun place where folks gather<br>to buy and sell items with Lute Bear Coin!</p>
            <a href="/market">
                <button class="card-button">Market</button>
            </a>
        </div>
    </section>
    <section>
        <div class="card bear bear10">
            <h2>Leaderboard</h2>
            <p>The <b>leaderboard</b> celebrates the achievements of the top users of the Lute Bear Coin network!</p>
            <a href="/leaderboard">
                <button class="card-button">Leaderboard</button>
            </a>
        </div>
    </section>
    <section>
        <div class="card bear bear16">
            <h2>Ledger</h2>
            <p>The <b>ledger</b> shows the transaction history<br>of the Lute Bear Coin network!</p>
            <a href="/ledger">
                <button class="card-button">Ledger</button>
            </a>
        </div>
    </section>
    <section>
        <div class="card bear bear1">
            <h2>About</h2>
            <p>Welcome to the Lute Bear Coin Network!<br>The most, uh trustworthy(?) cryptocurreny network run by bears who play instruments.</p>
            <a href="/about">
                <button class="card-button">Learn More</button>
            </a>
        </div>
    </section>

    {% if user is not none %}

    <section>
        <div class="grid-container">
            <a href="/logout" class="grid-item">
                <button>Logout</button>
            </a>
        </div>
    </section>

    {% endif %}

</body>

<script>
    var refresh = window.localStorage.getItem('refresh');
    var now = Date.now()
    if (refresh===null){
        // If page has never been refreshed. Refresh.
        window.localStorage.setItem('refresh', now+86400000);
        window.location.reload();
    }
    else if (now > Number(refresh)){
        // If page hasn't been refreshed in 24 hours. Refresh.
        window.localStorage.setItem('refresh', now+86400000);
        window.location.reload();
    }
</script>
