<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Wallet</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Lute Bear Coin">
    <link rel="apple-touch-icon" href="/static/logo.png">
    <meta name="theme-color" content="#4a1a19">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta name="format-detection" content="telephone=no">
</head>
<body>
    <section>
        <a href="/">
            <h1>Lute Bear Coin</h1>
        </a>
        <a href="/wallet">
            <img class="logo" src="/static/logo.png">
        </a>
    </section>
    <section>
        <div class="card">
            <h2>Market</h2>
            <p>Folks list items for sale in the <b>market</b>!</p>
            <div class="grid-container">
                <div class="grid-item">
                    <img src="/static/forsale.png">
                </div>
                <div class="grid-item">
                    <img src="/static/forsale.png">
                </div>
            </div>
            <br>
            <p>Items available for purchase have a for sale tag.</p>
        </div>
    </section>
    <section>
        <div class="card">
            <h2>For Sale</h2>
            <p>There are {{ forsale | length }} items for sale!</p>
            <div class="grid-container">
                {% for listing in forsale%}
                <div class="grid-item">
                    <p>Price <b>{{ listing.amount }} LBC</b></p>
                    <a href="/token/{{listing.token.id}}">
                        <img class="for-sale" src="/static/forsale.png">
                        <img src="{{listing.token.url}}">
                    </a>
                    <h3>{{listing.token.note}}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section>
        <div class="grid-container">
            <a href="/wallet" class="grid-item">
                <button>Back to Wallet</button>
            </a>
        </div>
    </section>
</body>
