<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Transaction</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Lute Bear Coin">
    <link rel="apple-touch-icon" href="/static/logo.png">
    <meta name="theme-color" content="#4a1a19">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta name="format-detection" content="telephone=no">
</head>

<body>
    <section>
        <a href="/">
            <h1>Lute Bear Coin</h1>
        </a>
        <a href="/wallet">
            <img class="logo" src="/static/logo.png">
        </a>
    </section>
    <section>
        <div class="card">
            <h2>Purchase</h2>
            <p>You're about to purchase a token!</p>

            <form action="transaction" method="post">
                <div class="card">
                    <h3>Token</h3>
                    <input type="string" name="token" value="{{ token.note }}" disabled="disabled" required />

                    <input type="hidden" name="token_id" value="{{ token.id }}" required />
                    
                    <h3>Price</h3>
                    <input type="string" name="amount" value="{{ token.listing.amount }}" disabled="disabled" required />
                    
                    <br><br>
                    <input type="hidden" name="transaction_type" value="buy" required/>
                    <button type="submit">Submit</button>
                </div>    
            </form>
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
        </div>
    </section>

    <section>
        <div class="card">
            <h2>{{ token.note }}</h2>
            <p>Owned by <a href="/user/{{token.owner.username}}">{{ token.owner.nickname }}</a></p>
            <div class="grid-container">
                <div class="grid-item">
                    {% if token.for_sale %}<img class="for-sale" src="/static/forsale.png">{% endif %}
                    <img src="{{token.url}}">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="grid-container">
            <a href="/wallet" class="grid-item">
                <button>Back to Wallet</button>
            </a>
        </div>
    </section>

</body>
