<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Studio</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Lute Bear Coin">
    <link rel="apple-touch-icon" href="/static/logo.png">
    <meta name="theme-color" content="#4a1a19">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="format-detection" content="telephone=no">
</head>
<body>

    <section>
        <a href="/">
            <h1>Lute Bear Coin</h1>
        </a>
        <a href="/wallet">
            <img class="logo" src="/static/logo.png">
        </a>
    </section>

    <section>
        <div class="card">
            <h2>Studio</h2>
            <p>The <b>studio</b> is where you can turn your art<br>into tokens on the Lute Bear Coin network!</p>
            <br>
            <img src="/static/studio.png"/>
            <p>You can submit <b>1</b> token per week</b>.</p>
            <br>    
            <a href="/studio/create">
                <button>Create Token</button>
            </a>
        </div>
    </section>

    <section>
        <div class="card">
            <h2>Submissions</h2>
            <p>Please create your tokens using this criteria.<br>Otherwise, they might not work properly!</p>
            <div class="grid-container">
                <div class="grid-item">
                    <h2>Aspect Ratio</h2>
                    <p>Square (1:1)</p>
                    <h3>Or it will get cropped</h3>
                </div>
                <div class="grid-item">
                    <h2>Dimensions</h2>
                    <p>At least 800x800 px</p>
                    <h3>Or it will look blurry</h3>
                </div>
                <div class="grid-item">
                    <h2>File Size</h2>
                    <p>Under 1MB</p>
                    <h3>Or it will load slowly</h3>
                </div>
                <div class="grid-item">
                    <h2>File Format</h2>
                    <p>JPG</p>
                    <h3>Or it just won't work, lol</h3>
                </div>
            </div>
            <br>
            <h2>Content Rules</h2>
            <p>Lute Bear Coin is a fun and light hearted<br>place to trade silly memes with your friends!<br>Do not submit anything serious or scary!</p>
            <p>The bears review and approve every submission!<br>If you submit anything inappropriate the bears will be very dissapointed in you and refuse to process any more of your submissions.</p>
        </div>
    </section>

    <section>
        <div class="grid-container">
            <a href="/wallet" class="grid-item">
                <button>Back to Wallet</button>
            </a>
        </div>
    </section>
</body>
