<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta name="format-detection" content="telephone=no">
</head>

<body>
    <!-- Banner -->
    <section>
        <a href="/">
            <h1>Lute Bear Coin</h1>
            <img class="logo" src="/static/logo.png">
        </a>
    </section>

    {% if user.transactions[0].amount %}

        <section>
            <div class="card">
                <h2>Success!</h2>
                <p>You just sent <b>{{ user.transactions[0].user_to_nickname }}</b> {{ user.transactions[0].amount }} LBC.</p>
                <a href="/">
                    <button type="submit">Back to Wallet</button>
                </a>
            </div>
        <section>
        <section>
            <div class="card">
                <h2>Balance</h2>
                <h4>{{ user.balance }}</h4>
                <p>You own {{ user.balance }} Lute Bear Coin!</p>
            </div>
        </section>

    {% else %}

        <section>
            <div class="card">
                <h2>Success!</h2>
                <p>You just sent <b>{{ user.transactions[0].user_to_nickname }}</b> the NFT: <br><b>{{ user.transactions[0].token_note }}</b>.</p>
                <br>
                <img src="{{ user.transactions[0].token_url }}">
                <a href="/">
                    <button type="submit">Back to Wallet</button>
                </a>
            </div>
        </section>
        <section>
            <div class="card">
                <h2>Tokens</h2>
                <p>You own {{ user.tokens | length }} Lute Bear Coin NFTs!</p>
                <div class="grid-container">
                    {% for token in user.tokens %}
                    <div class="grid-item">
                        <img src="{{user.tokens[token].url}}">
                        <h3>{{user.tokens[token].note}}</h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    {% endif %}


</body>
