<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Success</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Lute Bear Coin">
    <link rel="apple-touch-icon" href="/static/logo.png">
    <meta name="theme-color" content="#4a1a19">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta name="format-detection" content="telephone=no">
</head>

<body>
    <section>
        <a href="/">
            <h1>Lute Bear Coin</h1>
        </a>
        <a href="/wallet">
            <img class="logo" src="/static/logo.png">
        </a>
    </section>
    {% if type == "lbc" %}
    <section>
        <div class="card bear bear7">
            <h2>Success!</h2>
            <p>You just sent <a href="/user/{{ event.user_to.username }}">{{ event.user_to.nickname }}</a> <b>{{ event.amount }} LBC</b>.</p>
            <a href="/wallet">
                <button class="card-button">Back to Wallet</button>
            </a>
        </div>
    <section>
    <section>
        <div class="card">
            <h2>Balance</h2>
            <h4>{{ event.user_from.balance }}</h4>
            <p>You own <b>{{ event.user_from.balance }}</b> Lute Bear Coin!</p>
        </div>
    </section>
    {% elif type == "nft" %}
    <section>
        <div class="card bear bear6">
            <h2>Success!</h2>
            <p>You just sent <a href="/user/{{ event.user_to.username }}">{{ event.user_to.nickname }}</a> the NFT <br><a href="/token/{{ event.token }}">{{ event.db.tokens[event.token].note }}</a></p>
            <a href="/wallet">
                <button class="card-button">Back to Wallet</button>
            </a>
        </div>
    </section>
    <section>
        <div class="card">
            <h2>Tokens</h2>
            <p>You own <b>{{ event.user_from.tokens | length }}</b> Lute Bear Coin NFT!</p>
            <div class="grid-container">
                {% for if,token in event.user_from.tokens.items() %}
                <div class="grid-item">
                    <a href="/token/{{token.id}}">
                        {% if token.for_sale %}<img class="for-sale" src="/static/forsale.png">{% endif %}
                        <img src="{{token.url}}">
                    </a>
                    <h3>{{token.note}}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% elif type == "buy" %}
    <section>
        <div class="card bear bear6">
            <h2>Success!</h2>
            <p>You paid <a href="/user/{{ event.token.owner.transactions[0]['user_from_username'] }}">{{ event.token.owner.transactions[0]['user_from_nickname'] }}</a> <b>{{event.token.owner.transactions[1]['amount']}} LBC</b> for<br><a href="/token/{{ event.token_id }}">{{ event.db.tokens[event.token_id].note }}</a>.</p>
            <a href="/wallet">
                <button class="card-button">Back to Wallet</button>
            </a>
        </div>
    </section>
    <section>
        <div class="card">
            <h2>Tokens</h2>
            <p>You own <b>{{ event.token.owner.tokens | length }}</b> Lute Bear Coin NFT!</p>
            <div class="grid-container">
                {% for if,token in event.token.owner.tokens.items() %}
                <div class="grid-item">
                    <a href="/token/{{token.id}}">
                        {% if token.for_sale %}<img class="for-sale" src="/static/forsale.png">{% endif %}
                        <img src="{{token.url}}">
                    </a>
                    <h3>{{token.note}}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% elif type == "list" %}
    <section>
        <div class="card bear bear12">
            <h2>Success!</h2>
            <p>You listed this NFT for sale for <b>{{event.amount}} LBC</b><br><a href="/token/{{ event.token.id }}">{{event.token.note}}</a></p>
            <a href="/wallet">
                <button class="card-button">Back to Wallet</button>
            </a>
        </div>
    </section>
    <section>
        <div class="card">
            <h2>Tokens</h2>
            <p>You own <b>{{ event.token.owner.tokens | length }}</b> Lute Bear Coin NFT!</p>
            <div class="grid-container">
                {% for if,token in event.token.owner.tokens.items() %}
                <div class="grid-item">
                    <a href="/token/{{token.id}}">
                        {% if token.for_sale %}<img class="for-sale" src="/static/forsale.png">{% endif %}
                        <img src="{{token.url}}">
                    </a>
                    <h3>{{token.note}}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% elif type == "unlist" %}
    <section>
        <div class="card bear bear13">
            <h2>Success!</h2>
            <p>Your NFT is no longer for sale<br><a href="/token/{{ event.token.id }}">{{event.token.note}}</a></p>
            <a href="/wallet">
                <button class="card-button">Back to Wallet</button>
            </a>
        </div>
    </section>
    <section>
        <div class="card">
            <h2>Tokens</h2>
            <p>You own <b>{{ event.token.owner.tokens | length }}</b> Lute Bear Coin NFT!</p>
            <div class="grid-container">
                {% for if,token in event.token.owner.tokens.items() %}
                <div class="grid-item">
                    <a href="/token/{{token.id}}">
                        {% if token.for_sale %}<img class="for-sale" src="/static/forsale.png">{% endif %}
                        <img src="{{token.url}}">
                    </a>
                    <h3>{{token.note}}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% elif type == "submission" %}
    <section>
        <div class="card bear bear21">
            <h2>Success!</h2>
            <p>Your submission has been recieved!<br>If the bears approve of your token<br>they'll add it to your wallet.</p>
        </div>
    <section>
    <a href="/wallet">
        <button>Back to Wallet</button>
    </a>
    {% elif type == "submission_approve" %}
    <section>
        <div class="card">
            <h2>Success!</h2>
            <p>Submission is approved.</p>
            <br>
            <a href="/submissions">
                <button>Submissions</button>
            </a>
        </div>
    <section>
    {% elif type == "submission_deny" %}
    <section>
        <div class="card">
            <h2>Success!</h2>
            <p>Submission is denied.</p>
            <br>
            <a href="/submissions">
                <button>Submissions</button>
            </a>
        </div>
    <section>
    {% endif %}
</body>
