<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Success</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Lute Bear Coin">
    <link rel="apple-touch-icon" href="/static/logo.png">
    <meta name="theme-color" content="#4a1a19">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta name="format-detection" content="telephone=no">
</head>

<body>
    <!-- Banner -->
    <section>
        <a href="/">
            <h1>Lute Bear Coin</h1>
            <img class="logo" src="static/logo.png">
        </a>
    </section>

    {% if user.transactions[0].amount %}

        <section>
            <div class="card bear bear7">
                <h2>Success!</h2>
                <p>You just sent <a href="/user/{{ user.transactions[0].user_to_username }}">{{ user.transactions[0].user_to_nickname }}</a> {{ user.transactions[0].amount }} LBC.</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a href="/wallet">
                    <button type="submit">Back to Wallet</button>
                </a>
            </div>
        <section>
        <section>
            <div class="card">
                <h2>Balance</h2>
                <h4>{{ user.balance }}</h4>
                <p>You own {{ user.balance }} Lute Bear Coin!</p>
            </div>
        </section>

    {% else %}

        <section>
            <div class="card bear bear6">
                <h2>Success!</h2>
                <p>You just sent <a href="/user/{{ user.transactions[0].user_to_username }}">{{ user.transactions[0].user_to_nickname }}</a> the NFT <br><a href="/token/{{ user.transactions[0].token}}">{{ user.transactions[0].token_note }}</a></p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a href="/wallet">
                    <button type="submit">Back to Wallet</button>
                </a>
            </div>
        </section>
        <section>
            <div class="card">
                <h2>Tokens</h2>
                <p>You own {{ user.tokens | length }} Lute Bear Coin NFTs!</p>
                <div class="grid-container">
                    {% for token in user.tokens %}
                    <div class="grid-item">
                        <img src="{{user.tokens[token].url}}">
                        <h3>{{user.tokens[token].note}}</h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    {% endif %}


</body>
