<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>User | {{ user.nickname }}</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="format-detection" content="telephone=no">
</head>

<body>
    <!-- Banner -->
    <section>
        <a href="/">
            <h1>Lute Bear Coin</h1>
            <img class="logo" src="/static/logo.png">
        </a>
    </section>

    <section>
        <div class="credit-card">
            <p class="card-title">LBC</p>
            <p class="card-text">{{ user.id | format_account_number }}</p>
            <p class="card-subtext">{{ user.nickname }} {{ user.created_at | format_credit_date }}</p>
        </div>
    </section>

    <section>
        <div class="card">
            <h2>Balance</h2>
            <h4>{{ user.balance }}</h4>
            <p>{{ user.nickname }} owns {{ user.balance }} Lute Bear Coin!</p>
        </div>
    </section>

    <section>
        <div class="card">
            <h2>Tokens</h2>
            <p>{{ user.nickname }} owns {{ user.tokens | length }} Lute Bear Coin NFTs!</p>
            <div class="grid-container">
                {% for token in user.tokens %}
                <div class="grid-item">
                    <a href="/token/{{user.tokens[token].id}}">
                        <img src="{{user.tokens[token].url}}">
                    </a>
                    <h3>{{user.tokens[token].note}}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section>

        <div class="card">


            <h2>Transaction History</h2>
            <p>{{ user.nickname }} has been part of {{ user.transactions | length }} transactions!</p>
            <table>
                {% for transaction in user.transactions %}

                    {% if transaction.amount %}
                        <tr>
                            <td>{{transaction.timestamp | format_date}}</td>
                            <td><a href="/user/{{transaction.user_from_username}}">{{transaction.user_from_nickname}}</a> sent <a href="/user/{{transaction.user_to_username}}">{{transaction.user_to_nickname}}</a> {{transaction.amount}} LBC</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{transaction.timestamp | format_date}}</td>
                            <td><a href="/user/{{transaction.user_from_username}}">{{transaction.user_from_nickname}}</a> sent <a href="/user/{{transaction.user_to_username}}">{{transaction.user_to_nickname}}</a> <a href="/token/{{transaction.token}}">1 NFT</a></td>
                        </tr>
                    {% endif %}

                {% endfor %}
            </table>

        </div>
    </section>
    
    <section>
        <div class="grid-container">
            <a href="/wallet" class="grid-item">
                <button>Back to Wallet</button>
            </a>
        </div>
    </section>

</body>
